body{
    margin: 0px;
    background-color: white;
}
/* Nav Bar */
.nav-container {
    position: sticky;
    z-index: 3;
    top: 0;
}
.navbar {
    display: flex;
    justify-content: space-between;
    height: 12vh;
    background-color: white;
}
.navbar-logo{
    justify-self: start;
    margin-left: 20px;
    color: rgb(0, 0, 0);
    margin-top: 4vh;
    cursor: pointer;
    padding-top: 0%;
}
.ver-carrito{
    font-size: 25px;
    margin-right: 20px;
    margin-top: 3.5vh;
    cursor: pointer;
    z-index: +1;
}

/*banner*/
.banner{
    background-size: cover;
    background-position: center;
    height: 100vh;  
}
.banner-img{
    width: 100%;
    top: 0%;
}
.banner-container {
    text-align: center;
    padding: 15% 0;
}
.banner h1 {
    margin: 0;
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    font-size: 62px;
    font-weight: bold;
}

.banner p {
    font-size: 30px;
    color: rgb(0, 0, 0);
    opacity: 0.7;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}
/*shop content*/

.shop-content{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-right: 80px;
    margin-left: 80px;

}
.temporada{
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.shop-content img{
width: 25%;
height: 25%;
margin-top: 500px

    
}
.price{
    color: grey;
    font-size: 22px;
}
.Temporada button {
    background: black;
    cursor: pointer;
    border: none;
    width: 100%;
    color: azure;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    border-radius: 12px;
  }
  
  .Temporada button:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, black, white, black, white, black, white);
    background-size: 800%;
    border-radius: 12px;
    filter: blur(8px);
    animation: glowing 20s linear infinite;
  }
  
  @keyframes glowing {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  .delete-product{
    cursor: pointer;
   justify-content: end;
  }
  .modal-header-button{
    cursor: pointer;
  }